*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
ul{
    list-style: none;
}
.navbar{
    display:flex;
    justify-content: space-between;
    padding: 10px;
}
.buscar{
    background-color: white;
    border: 1px solid grey;
    padding: 4px;
    border-radius: 8px;
}
.buscar:focus-within{
    border: 1px solid green;
}
.buscar > input{
    outline: none;
    border: 0px;
}