*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
ul{
    list-style: none;
}
.navbar{
    display:flex;
    justify-content: space-between;
    padding: 10px;
}
<<<<<<< HEAD
=======
.mainButton{
    background-color: #7CCB80;
    color: white;
    border: 0px;
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: bolder;
    box-shadow: 1px 1px #069380;
}
.mainButton:hover{
    cursor: pointer;
    /* box-shadow: 5px 5px #069380; */
    transform: scale(1.1);
}
>>>>>>> 5-crear-boton-nuevo-post
